.headerWrapper {
  align-items: center;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 4px 6px -4px #0000001a, 0 10px 15px -3px #0000001a;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 30px;
  width: 100%;

  @media (max-width: 790px) {
    flex-direction: column;
  }
}

.header {
  font-size: 36px;
}

.searchWrapper {
  align-items: end;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.search {
  display: flex;
  flex-direction: column;
}

.searchInput {
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid #5a5a5a;
  box-sizing: border-box;
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 50px;
  padding: 11px 14px;

  &:focus {
    border-radius: 8px;
    border: 1px solid var(--brand);
    box-shadow: var(--brand) 0px 0px 0px 1px;
    outline-style: none;
  }
}

.searchButton {
  background-color: var(--brand);
  border-radius: 10px;
  border: 1px var(--brand);
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 150%;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s;

  &:hover {
    background-color: var(--brand-darker);
  }
}
