.searchDetailsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;

  @media (max-width: 1043px) {
    align-items: center;
    flex-direction: column;
  }
}
